.top10_container{
    width:100%;
    height:100%;
    padding:1%;
}

.top10_output_container{
    width:100%;
    height:100%;
    background-color:white;
    border-radius: 1%;
    overflow: hidden;
}

.top10_left_output_container,.top10_right_output_container{
    position:relative;
    width:20%;
    height:100%;
    float:left;
    padding:1%;
}

.top10_center_output_container{
    position:relative;
    width:60%;
    height:100%;
    float:left;
    padding:1%;
}

.top10_filter_container{
    position:relative;
    width:100%;
    height:100%;
    box-shadow : 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}

.top10_center_output_header_container{
    position:relative;
    float:left;
    height:5%;
    width:100%;
}

.list_losers , .list_gainers{
    position:relative;
    float:left;
    width:100%;
    height:10%;
    font-weight:bold;
}

.list_losers_item , .list_gainer_item{
    position:relative;
    float:left;
    width:100%;
    height:45%;
    font-size:0.8em;
    line-height:4vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list_losers_item{
    text-align:right;
}

.top10_chart_looser_panel ,.top10_chart_winner_panel{
    position:relative;
    float:left;
    width:20%;
    height:92%;
}

.top10_chart_container{
    position:relative;
    float:left;
    width:60%;
    height:90%;
}

.top10_chart_container_header , .top10_chart_container_footer{
    position:relative;
    float:left;
    height:3%;
    width:100%;
}

.top10_chart_area {
    position: relative;
    float: left;
    height: 95%;
    width: 100%;
    background-image: url("../Images/KH_Sprite_Top10_Chart BG.png");
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center;
}

.top10_center_output_left_header_container,.top10_center_output_right_header_container{
    position:relative;
    float:left;
    width:50%;
    height:100%;  
}

.top10_center_output_header_text_container{
    position:relative;
    float:left;
    width:100%;
    height:60%;
    text-align:center;
    font-weight:bold;
    font-size:1em;
}

.top10_center_output_header_green_shadow_container{
    position:absolute;
    top:45%;
    left:30%;
    width:40%;
    height:100%;
    background:url('../Images/KH_Sprite_green underline.svg') no-repeat;
    background-position:bottom;
    background-size:contain;
}

.top10_center_output_header_red_shadow_container{
    position:absolute;
    top:45%;
    left:30%;
    width:40%;
    height:100%;
    background:url('../Images/KH_Sprite_red underline.svg') no-repeat;
    background-position:bottom;
    background-size:contain;
}

.top10_filter_left_box{
    position:relative;
    height:33.33%;
    width:100%;
    padding:1%;
}

.top10_filter_right_box{
    position:relative;
    height:100%;
    width:100%;
    padding:1%;
}

.top10_filter_item_left_contianer{
    height:85%;
    width:100%;
}

.top10_filter_item_right_contianer{
    position:relative;
    max-height: 90%;
    width:100%;
}

.top10_filter_Head{
    position:relative;
    background-color: #F9F9F9;
    text-align:center;
    line-height:5vh;
    height:5vh;
    margin-bottom:1vh;
    font-weight:bold;
}

.top10_filter_item{
    position:relative;
    width:100%;
    height:4vh;
    padding-left:5%;
    border-bottom:solid 1px #F9F9F9;
}

.top10_filter_item:hover{
    cursor:pointer;
    font-weight:bold;
    background-color: #F9F9F9;
}

.top10_filter_region_item_parent:hover{
    cursor:pointer;
    font-weight:bold;
    background-color: #F9F9F9;
}

.top10_filter_region_item_parent:hover > .close_dropdown{
    background-color: white;
}

.top10_filter_region_item_parent:hover > .open_dropdown{
    background-color: white;
}

.top10_filter_region_item_parent:hover > .close_dropdown:hover{
    background-color: #CE7474;
}

.top10_filter_region_item_parent:hover > .open_dropdown:hover{
    background-color: #CE7474;
}

.top10_filter_brand_item_parent:hover{
    cursor:pointer;
    font-weight:bold;
    background-color: #F9F9F9;
}

.top10_filter_brand_item_parent:hover > .close_dropdown{
    background-color: white;
}

.top10_filter_brand_item_parent:hover > .open_dropdown{
    background-color: white;
}

.top10_filter_brand_item_parent:hover > .close_dropdown:hover{
    background-color: #CE7474;
}

.top10_filter_brand_item_parent:hover > .open_dropdown:hover{
    background-color: #CE7474;
}

.top10_filter_item_text{
    position:relative;
    font-size: 1em;
    line-height: 4vh;
    width:80%;
    height:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top10_filter_region_item_container, .top10_filter_brand_item_container{
    position:relative;
    float:left;
    width:100%;
    min-height:4vh;
    padding-left:5%;
    border-bottom:solid 1px #F9F9F9;
}

.top10_filter_region_item_parent, .top10_filter_brand_item_parent{
    position:relative;
    float:left;
    width:100%;
    height:4vh;
}

.top10_filter_region_item_child_continer, .top10_filter_brand_item_child_continer{
    position:relative;
    float:left;
    width:95%;
    min-height:4vh;
    padding-left:5%;
    overflow:hidden;
    text-overflow:ellipsis;
    border-bottom:solid 1px #F9F9F9;
}

.radio_unselected{
    position:relative;
    float:left;
    width: 10%;
    height: 100%;
    background:url("../Images/KH_Sprite_Radio button new.svg") no-repeat;
    background-size:50% 50%;
    background-position:center;
}

.radio_selected{
    position:relative;
    float:left;
    width: 10%;
    height: 100%;
    background:url("../Images/KH_Sprite_Radio button new checked.svg") no-repeat;
    background-size:50% 50%;
    background-position:center;
}

.checkbox_unselected{
    position:relative;
    float:left;
    width:10%;
    height:100%;
    background:url("../Images/KH_Sprite_checkbox.svg") no-repeat;
    background-size:50% 50%;
    background-position:center;
}

.checkbox_selected{
    position:relative;
    float:left;
    width:10%;
    height:100%;
    background:url("../Images/KH_Sprite_checkbox checked.svg") no-repeat;
    background-size:50% 50%;
    background-position:center;
}

.open_dropdown{
    position:relative;
    float:left;
    width:10%;
    height:100%;
    background:url("../Images/Weather_dashboard_Sprite_dropdown_arrow.svg") no-repeat;
    background-size:60% 60%;
    background-position:center;
}

.close_dropdown{
    position:relative;
    float:left;
    width:10%;
    height:100%;
    background:url("../Images/Weather_dashboard_Sprite_dropdown_arrow.svg") no-repeat;
    background-size:60% 60%;
    background-position:center;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.top10_chart_expand_button{
    color: white;
    position: absolute;
    left: 1%;
    width: 8%;
    top: -7.5%;
    padding: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 1.5vh;
    border: 1px solid silver;
    font-weight: normal;
    text-align:center;
}

.top10_chart_expand_button:hover{
    cursor:pointer;
    font-weight:bold;
}
